/*Cabeçalho do Navbar*/

.cabecalho {
    background-color: var(--cor-fundo);
    font-family: var(--font-inter);
}

.cabecalho__navbar {
    display: flex;
    justify-content: space-around;
    padding: 1.125em 5em;
}

.menu-logo {
    gap: 8px;
}

.menu__texto-logo {
    font-size: 1.02rem;
}

.cabecalho__menu {
    display: flex;
    align-items: center;
}

.menu-links {
    margin-right: auto;
    margin-left: 14%;
    gap: 32px;
}

.menu-login {
    gap: 30px;
}

.menu__navegacao, .menu__login-cadastro {
    text-decoration: none;
    color: var(--cor-cinza);
    font-size: 1rem;
}

.menu__botao-cadastro {
    background-color: var(--cor-vermelho_escuro);
    padding: 0.9em 1.2em;
    color: var(--cor-fundo);
    border-radius: 8px;
}

.menu__botao-cadastro:hover {
    background-color: var(--cor-vermelho_interativo);
    font-size: 1rem;
}


/*Cabeçalho do Banner*/

.cabecalho__banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6em 20em;
    gap: 30px;
}


.banner__subtitulo {
    color: var(--cor-vermelho_escuro);
    font-size: 1rem;
    font-weight: 600;
}

.banner__titulo {
    color: var(--cor-preto);
    font-weight: 600;
    font-size: 3rem;
}

.banner__texto {
    color: var(--cor-cinza);
    font-size: 1.25rem;
    font-weight: 400;
    text-align: center;
    width: 60%;
}