.apresentacao__metricas {
    display: flex;
    justify-content: space-around;
     padding: 1.125em 2em;
}

.metrica__container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 17.5em;
    height: 10.5em;
}

.metrica__titulo {
    color: var(--cor-vermelho_escuro);
    font-family: var(--font-inter);
    font-weight: 600;
    font-size: 3.75rem;
}

.metrica__subtitulo {
    font-family: var(--font-inter);
    font-size: 1.125rem;
    font-weight: 500;
}

.metrica__texto {
    font-family: var(--font-inter);
    font-size: 1rem;
    font-weight: 400;
    color: var(--cor-cinza);
}