@import url("header.css");
@import url("metricas.css");
@import url("vargas.css");
@import url("apresentacao.css");

:root {
    --cor-fundo: #ffffff;
    --cor-cinza: #667085;
    --cor-cinza-interativo: #f2f2f2;
    --cor-vermelho_escuro: #8E2424;
    --cor-vermelho_interativo: #cd4e4e;
    --cor-preto: #101828;
    --cor-vermelho_transparente: #8E24240D;

    --font-inter: "Inter"; 
}

body {
    background-color: var(--cor-fundo);
}

.apresentacao {
    background-color: var(--cor-fundo);
}