@import url("header.css");

:root {
    --cor-fundo: #ffffff;
    --cor-cinza: #667085;
    --cor-cinza-interativo: #f2f2f2;
    --cor-vermelho_escuro: #8E2424;
     --cor-vermelho_interativo: #cd4e4e;

    --font-inter: "Inter"; 
}

body {
    background-color: var(--cor-fundo);
}